# Configuración de branding (permite versiones locales)
config/branding.py

# Ejecutables y binarios
SUNAT-Analytics_v4.exe
*.exe

# Datos de entrada/salida (pruebas internas)
input/
output/

# Datos privados
.otros/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp


license_manager/license_keys/
license.json
license_public_key.pem
comandos.txt